<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Kobe Code Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
      
              <a class="nav-link" [routerLink]="['top_rated']">Top Rated</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['upcoming']">Upcoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['now_playing']">Now Playing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['popular']">Popular</a>
            </li>
          </ul>
      <form class="form-inline my-2 my-lg-0">
          <input [(ngModel)]="filter" (keyup.enter)="search(filter)" name="search" class="form-control mr-sm-2" type="search"
          placeholder="Find movie...">
        <button class="btn btn-info my-2 my-sm-0" (click)="search(filter)">Search</button>
      </form>
    </div>
  </nav>